---
---

@import 'main';
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

/* append your custom style below */

footer p:last-child::before {
    content: none;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: Pretendard;
}

div.highlight {
    font-family: monospace!important;
}

div.content {
    font-size: 110%;
}

.MathJax {
    font-size: 90%;
}

time.year.lead {
    font-family: "Source Sans Pro", "Microsoft Yahei", sans-serif;
}

div.language-plaintext.highlighter-rouge {
    pre {
        color: #3f596f;
    }
}

div.footnotes {
    font-size: 80%;
}
