---
---

@import 'main';
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

/* append your custom style below */

body, h1, h2, h3, h4, h5, h6 {
    font-family: Pretendard;
}

div.highlight {
    font-family: monospace!important;
}

div.content {
    h1, h2, h3, h4, h5, h6 {
        font-family: "Palatino Linotype", Palatino, Pretendard;
        font-weight: bold;
    }

    font-family: "Palatino Linotype", Palatino, Pretendard;
    font-size: 105%;

    blockquote {
        color: black;
        border-left-color: rgba(0, 191, 255, 0.5);
    }
}

.MathJax {
    font-size: 100%;
}

time.year.lead {
    font-family: "Source Sans Pro", "Microsoft Yahei", sans-serif;
}

div.language-plaintext.highlighter-rouge {
    pre {
        color: #3f596f;
    }
}

div.footnotes {
    font-size: 90%;
}
