---
---

@import '{{ site.theme }}';
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

/* append your custom style below */

footer p:last-child::before {
    content: none;
}

body, h1 {
    font-family: Pretendard;
}

div.highlight {
    font-family: monospace!important;
}

.post-content {
    font-size: 110%;
}

.MathJax {
    font-size: 90%;
}
